div.document-top-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

div.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
    border-bottom: 0.5px solid rgba(49, 49, 49, 0.5);
}

div.main-header .customer {
    text-align: right;
    padding: 10px;
}

div.main-header-tabs {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: rgb(238, 238, 238);
    z-index: 10000;
}

div.main-header-tabs .PrivateTabIndicator-colorPrimary-49 {
    background-color: transparent !important;
}

div.doc-logo-container {
    width: 150px;
}

div.divider {
    display: flex;
    border-left: 1px solid rgb(238, 238, 238);
    align-items: center;
    padding: 5px;
}

div.representor-photo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 10px;
}

div.representor-photo img {
    border-radius: 50%;
}

div.slide-image-view {
    height: 500px;
    /* background-size: cover !important; */
    /* background-image: url('https://e.tcdnweb.com/3a275927-3a6d-4c57-a305-793b77223bc9/57e0d4444856ad14f6da8c7dda79367f123dd9ec53576c48702878d1904bc25dbf_1280.jpg'); */
}

div.overview-gallery-info {
    display: flex;
    padding: 25px;
    background-color: rgba(49, 49, 49, 0.5);
    justify-content: space-between;
    align-items: center;
}

div.name-itinerary {
    font-size: 25px;
    font-weight: bold;
    color: rgb(238, 238, 238);
}

div.overview-details {
    display: flex;
    align-items: center;
    color: rgb(238, 238, 238);
}

div.package-cost {
    font-weight: bold;
    font-size: 25px;
    color: rgb(238, 238, 238);
}

div.days-overall-view {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    width: 75%;
}

div.day-item-view {
    margin-top: 50px;
}

div.day-header {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid rgba(49, 49, 150, 0.5);
}

div.days-overall-view>div {
    width: 45%;
}

div.day-item-list div {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

div.day-item-list div>svg {
    margin-right: 15px;
    background: rgb(174, 180, 226);
    border-radius: 50%;
    padding: 4.5px;
    color: rgb(255, 252, 245);
}

div.region-description {
    padding: 15px;
    background-color: rgba(49, 49, 49, 0.5);
    color: rgb(238, 238, 238);
    font-style: normal;
    font-size: 18px;
    text-align: justify;
    margin: 50px;
}

div.preview-dialog .MuiBox-root {
    padding: 0 !important;
}

div.preview-dialog .MuiDialogContent-root {
    padding: 0 !important;
    overflow-x: hidden !important;
}

div.preview-dialog .MuiPaper-root {
    overflow: hidden !important;
}

div.day-wise-container {
    margin-top: 50px;
}

div.day-heading-text {
    padding: 15px;
    background: linear-gradient(45deg, black, rgb(255, 255, 255));
    color: rgb(238, 238, 238);
    font-weight: bold;
    position: sticky;
    z-index: 1000;
    position: -webkit-sticky;
    top: 70px;
}

div.content-item {
    width: 75%;
    margin: 25px auto;
}

div.content-item p {
    text-align: justify;
}

div.content-item .content-top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

div.content-item a {
    font-weight: 400;
    color: rgba(49, 49, 150, 0.5);
}

div.content-item .content-top>div {
    width: 50%;
}

div.content-icon {
    width: 35px !important;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(245, 242, 242, 0.445);
    margin: 5px;
}

div.content-item .right-content {
    padding-left: 25px;
}

div.content-item .right-content .excursion-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

div.content-item .right-content .heading {
    font-size: 25px;
    color: rgba(49, 49, 150, 0.5);
}

div.content-item .right-content>div {
    margin-bottom: 15px;
}

div.content-item .location {
    display: flex;
    align-items: center;
}

div.content-item .location svg {
    margin-right: 15px;
}

div.content-item .distance-duration-matrix {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

div.content-item .distance-duration-matrix>div {
    display: flex;
    align-items: center;
}

div.content-item .distance-duration-matrix>div svg {
    margin-right: 15px;
}

div.content-item .distance-duration-matrix>div:last-child {
    margin-left: 25px;
}

div.content-item .activities .category {
    font-size: 16px;
    color: rgba(49, 49, 150, 0.5);
}

div.content-item .activities {
    display: flex;
    flex-wrap: wrap;
}

div.content-item .activities>div {
    width: 25%;
}

div.content-item .activities .list div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

div.content-item .activities .list div svg {
    margin-right: 10px;
}

div.map-container {
    width: 100%;
    height: 500px;
}

div.hotel-stay-item {
    margin: 0 auto 50px auto;
}

div.hotel-stay-item .day-heading {
    padding: 10px;
    background: linear-gradient(45deg, black, rgb(255, 255, 255));
    color: rgb(238, 238, 238);
}

div.pricing-container {
    width: 75%;
    margin: 50px auto;
}

div.pricing-container .heading {
    font-size: 20px;
}

div.pricing-container .table-content {
    margin-bottom: 25px;
}

div.pricing-container .content {
    margin: 25px auto;
}

div.pricing-container .content>div {
    display: flex;
    align-items: center;
}

div.pricing-container .content>div svg {
    margin-right: 15px;
}

div.about-html-content {
    width: 75%;
    margin: 25px auto;
}

div.document-footer {
    width: 75%;
    margin: 25px auto;
    text-align: center;
}

div.document-footer .address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px auto;
}

div.document-footer .address>div {
    display: flex;
    align-items: center;
}

div.document-footer .address>div svg {
    margin-right: 5px;
}

div.document-footer .social-media-icon a {
    margin-left: 10px;
}

div.document-footer .company-footer-heading {
    font-weight: 600;
}

div.export-fab-list {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

div.export-fab-list button {
    margin-left: 5px;
}

@media screen and (min-width: 812px) {
    *.small {
        display: none !important;
    }
}

@media screen and (max-width: 812px) {
    div.doc-logo-container {
        justify-self: center;
        margin: auto;
    }
    *.medium {
        display: none !important;
    }
    div.small.agent {
        display: flex;
        margin: auto;
        justify-content: space-evenly;
    }
    div.overview-gallery-info {
        flex-wrap: wrap;
        text-align: center;
    }
    div.name-itinerary {
        font-weight: unset;
        font-size: 20px;
        margin: auto;
    }
    div.package-cost {
        font-size: unset;
        margin: auto;
    }
    div.slide-image-view {
        height: auto !important;
    }
    div.days-overall-view {
        display: block;
    }
    div.days-overall-view>div {
        width: 100%;
    }
    div.region-description {
        margin: 0;
    }
    div.day-wise-container {
        margin: 0 !important;
    }
    div.content-item {
        width: 100%;
        margin: auto;
    }
    div.content-item .right-content {
        padding: 0 25px;
    }
    div.content-item .activities {
        display: block;
        padding: 25px;
    }
    div.content-item .activities>div {
        width: 100%;
        margin-bottom: 20px;
    }
    div.content-item .activities .category {
        margin-bottom: 15px;
    }
    div.content-item .content-top>div {
        width: 100% !important;
    }
    div.content-item .content-top {
        display: block !important;
    }
    div.content-item .content-top>div.content-icon {
        width: 50px !important;
        height: 50px !important;
        position: absolute;
        z-index: 2;
        border-radius: 0;
        margin: 0;
    }
    div.content-item .right-content .heading {
        margin-top: 25px;
    }
    div.document-footer {
        width: 100%;
    }
    div.main-header .customer {
        text-align: center;
        margin: 15px auto;
    }
    div.overview-details {
        justify-content: space-around;
    }
    div.about-html-content {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    div.day-heading-text {
        position: sticky;
        position: -webkit-sticky;
        top: 50px !important;
    }
    div.document-top-header {
        padding: 0 !important;
        border-bottom-width: 0;
        margin: auto;
    }
}

div.header-control {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

div.divider-top-header {
    margin: 0 !important;
    padding: 0 !important;
}

*.image-gallery-fullscreen-button .image-gallery-svg, .image-gallery-play-button .image-gallery-svg {
    width: 20px !important;
    height: 20px !important;
}

*.image-gallery-fullscreen-button .image-gallery-svg, .image-gallery-play-button .image-gallery-svg {
    width: 20px !important;
    height: 20px !important;
}

*.MuiTab-textColorPrimary.Mui-selected {
    border-bottom: 0 !important;
}