div.sidenav {
    z-index: 1000 !important;
}

div .signup .signup-card{
    max-width: 375px;
    border-radius: 2px !important;
}

div.layout1.sidenav-mobile .sidenav {
    z-index: 1000 !important;
}

div.logo-container:hover {
    border: 10px solid rgb(245, 245, 245) !important;
}

.geosuggest__input {
    width: 100% !important;
    border: 1px solid rgba(128, 128, 128, 0.55) !important;
    border-radius: 4px !important;
    height: 55px !important;
    padding-left: 15px !important;
}

.geosuggest__input:focus {
    border: 2px solid rgb(116, 103, 239) !important;
    outline: none !important;
}

.geosuggest {
    position: relative;
    width: 100%;
}

.geosuggest__suggests {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 25em;
    padding: 0;
    margin-top: -1px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(128, 128, 128, 0.55);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-width: 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    z-index: 5;
    -webkit-transition: max-height 0.2s, border 0.2s;
    transition: max-height 0.2s, border 0.2s;
}

.geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
}

.geosuggest__item {
    font-size: 18px;
    font-size: 1rem;
    padding: .5em .65em;
    cursor: pointer;
}

.geosuggest__item:hover, .geosuggest__item:focus {
    background: rgba(128, 128, 128, 0.55);
}

.geosuggest__item--active {
    background: rgba(128, 128, 128, 1);
    color: rgb(255, 255, 255);
}

.geosuggest__item--active:hover, .geosuggest__item--active:focus {
    background: rgb(255, 255, 255);
}

.geosuggest__item__matched-text {
    font-weight: bold;
}

.row-button {
    padding: 14px !important;
    width: 100%;
}

.add-image-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
}

.add-image-button:hover {
    background-color: gray;
    color: rgba(238, 234, 234, 0.5);
    ;
}

.gallery-images-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.gallery-item {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    margin-right: 10px;
    margin-bottom: 50px;
    background-size: cover !important;
    cursor: pointer;
}

.gallery-remove-button {
    display: flex;
    position: relative;
    top: 25px;
    left: 25px;
    background: tomato;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: whitesmoke;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .desktop-only {
        display: none !important;
    }
    .mobile-only {
        display: block !important;
    }
}

.divider-header {
    bottom: 5px;
    position: relative;
    left: 5px;
}

.geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
}

.content {
    margin-top: 15px;
    margin-bottom: 15px;
}

div.counter-block-dashboard {
    text-align: center;
}

div.counter-block-dashboard .item {
    font-weight: bold;
    font-size: 16px;
}

div.counter-block-dashboard .count {
    width: 75px;
    height: 25px;
    padding-top: 2px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 254, 254);
    transition: transform 0.3s ease-in-out;
}

div.counter-block-dashboard:hover .count {
    transform: scale(1.25);
    display: flex;
    font-size: 25px;
}

.activity-header {
    background-color: rgba(128, 128, 128, 1);
    color: rgb(255, 254, 254);
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.activity-item {
    padding: 5px;
}

button.vertical-itinerary-tabs.Mui-selected {
    background-color: rgba(238, 234, 234, 0.5) !important;
}

div.header-builder {
    font-size: 20px;
    font-weight: bold;
}

button.notes-add-button {
    margin-left: 10px !important;
    padding: 14.5px !important;
}

div.paper-block {
    padding: 20px;
    margin: 20px 0;
    border-radius: 0;
}

div.document-container {
    width: 100%;
    height: auto;
}

div.background-view {
    width: inherit;
    height: 300px;
    background-attachment: fixed;
    background-size: cover;
}

div.date-display {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 45px;
    margin: 15px auto;
    background: rgba(255, 255, 255, 1);
    z-index: 1000;
}

div.tabs-top-sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid;
    background-color: rgb(255, 254, 254) !important;
}

div.hotel-standard {
    color: rgb(116, 103, 239);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid;
    width: 100px;
    margin-top: 5px;
}

div.main-tabs-top-sticky {
    position: sticky;
    top: 80px;
    z-index: 1000;
    background-color: rgb(90, 99, 180) !important;
}

div.main-header-text {
    margin: 15px auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

div.detail-item {
    text-align: center;
    margin: 10px auto;
    font-weight: 600;
}

div.map-view-button {
    display: block;
    position: absolute;
    margin-top: 175px;
    right: 45px;
}

div.company-header {
    text-align: center;
    margin: 15px auto;
    font-size: 20px;
    padding: 10px;
    color: rgba(255, 255, 255, 1);
    background: rgba(49, 49, 49, 0.5);
}

div.loading-text {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

div.client-introduction {
    display: block;
    font-size: 20px;
    color: rgb(233, 226, 241);
    position: absolute;
    margin-top: 175px;
    margin-left: 15px;
}

div.map-view-button button {
    border-color: rgb(255, 254, 254) !important;
    color: rgb(255, 254, 254) !important;
}

@media screen and (max-width: 480) {}

div.upload-modal {
    z-index: 9999999999999 !important;
}

div.action-bar {
    width: 200px;
}

div.action-bar button {
    margin-bottom: 15px;
}

div.document-container-pdf {
    width: 600pt;
    margin: auto;
    border: 0.25px solid rgba(128, 128, 128, 0.55);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
}

div.flex-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

div.flex-header .logo {
    width: 150px;
}

div.document-title-header {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

div.comments-list {
    margin-top: 25px;
}

div.comments-list .comments-header {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

div.comments-list .comments-list-item {
    margin-bottom: 10px;
}

div.document-footer {
    text-align: center;
}

div.document-footer .address {
    display: flex;
    justify-content: center;
}

div.document-footer .address>div {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

div.document-footer .address>div span {
    margin-left: 10px;
}

div.section-header {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

div.search-result {
    top: 65px;
}

div.search-result .search-item {
    margin: 0;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: inherit;
    font-size: 16px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(247, 246, 248);
}

div.search-result .search-item .result-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

div.search-result .search-item .label {
    background-color: indianred;
    border-radius: 2px;
    padding: 5px;
    font-weight: bold;
    color: rgb(247, 246, 248);
    text-align: center;
}

div.search-result .search-item:hover {
    background-color: rgb(215, 196, 238);
}

div.no-matches {
    font-size: 25px;
    color: red;
    font-weight: bold;
}

div.country-caption {
    font-size: 18px;
    color: rgb(103, 113, 122);
    font-weight: 500;
}

div .download-button {
    padding: 5px;
    border-radius: 5px;
    color: rgb(247, 246, 248);
    background-color: blueviolet;
}

div.upload-success {
    font-weight: bold;
    text-align: center;
    color: rgba(12, 88, 12, 0.55);
}

div.max-width .MuiDialog-paperWidthSm {
    max-width: 100% !important;
}

div.max-width .MuiDialogTitle-root {
    background-color: rgb(237, 244, 250) !important;
}

div.max-width .MuiDialogContent-root {
    padding: 30px 25px !important;
}

div .currency-text {
    font-weight: bold;
    margin-right: 10px;
}

div.save-alert {
    position: absolute;
    top: 0;
    right: 25px;
}

div.save-alert span {
    font-weight: bold;
}

div.save-alert .MuiAlert-message {
    display: block;
}

.MuiTableHead-root tr th:first-child, .MuiTableBody-root tr td:nth-child(2) {
    padding-left: 10px !important;
}

[class="topbar"] {
    z-index: 999 !important;
}

[class="topbar"] .search-result {
    overflow-y: scroll;
    height: 100vh !important;
}

.egret-loader {
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    right: 0;
    top: calc(50% - 20px);
    margin: auto;
  }

  .egret-loader img {
    position: absolute;
    height: 25px;
    width: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .egret-loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 0;
    border: 3.4px solid rgb(116, 103, 239);
    border-radius: 50%;
    animation: egret-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(116, 103, 239) transparent transparent transparent;
  }

  .egret-loader div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .egret-loader div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .egret-loader div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes egret-loader {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .react-confirm-alert-overlay {
    z-index: 1000 !important;
  }

  div.ui.dropdown {
    padding: 10px !important;
    min-height: 55px !important;
  }

  div.ui.dropdown .text {
    padding: 8px !important;
  }

  div.ui.dropdown .dropdown.icon {
    margin-top: 0 !important;
  }

  div.fine-uploader-dropzone-container {
    border: 5px dashed grey !important;
  }

  div.fine-uploader-dropzone-container .react-fine-uploader-gallery-file-input-container {
    background-color: black !important;
    color: whitesmoke !important;
    border: 0 !important;
    width: 200px !important;
  }

  div.react-fine-uploader-total-progress-bar {
    display: block !important;
    background-color: black !important;
    height: 10px !important;
    border: 2px solid whitesmoke !important;
  }

  div.ReactModal__Overlay {
    z-index: 100 !important;
    background-color: transparent !important;
  }

  div.ReactModal__Content {
    bottom: auto !important;
  }

  div .ui.form .twelve.wide.field{
      width: 100% !important;
  }

  div .sidenav .sidenav__hold .brand-area .brand img{
    filter: brightness(0) invert(1);
  }