div .login-container {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div .wall {
    width: 100vw;
    height: 100vh;
    background-image: url(../../../assets/backgrounds/wall.jpg);
    background-size: cover;
    filter: contrast(0.5) brightness(0.5);
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

div .login-up-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    color: rgb(255 255 255);
}

div .login-up-section .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div .login-up-section .flex-container .lang {
    cursor: pointer;
    font-weight: bold;
}

[dir='rtl'] .login-up-section .flex-container .icon.icon.direction {
    transform: rotate(180deg);
}

div .login-bottom-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    color: rgb(223, 223, 223);
    direction: ltr !important;
}

div .login-bottom-section .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

div .login-bottom-section .flex-container img {
    width: 25px;
    margin-bottom: -5px;
    margin-left: 5px;
    filter: brightness(0) invert();
}

div .slogan-parent-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

div .login-center-section {
    display: flex;
    justify-content: center;
    direction: ltr;
    align-items: center;
    position: fixed;
    margin-top: 50%;
    width: 100%;
}

div .login-center-section>.card {
    width: 250px;
}

div .slogan-container>div {
    color: rgb(255, 255, 255) !important;
}

div .slogan-container>div:first-child {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
}

div .slogan-container>div:last-child {
    font-size: 20px;
}

div .login-container-details {
    width: 50%;
    text-align: left;
}

div .button-primary-login {
    color: rgb(240, 248, 255) !important;
}

div .context-logo {
    font-size: 28px;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    font-family: 'Tajawal', sans-serif;
    font-weight: 700;
}

div .login-container-forms {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

div .brands-logo-rows img {
    width: 75px;
    filter: brightness(0) invert();
    margin-right: 50px;
    margin-top: 15px;
}

div .brands-logo-rows img:first-child {
    width: 50px;
}

div .login-container-forms .login-container-formbox {
    width: 100%;
    max-height: 600px;
    overflow-y: scroll;
    scrollbar-width: none !important;
}

div .login-container-forms .login-container-formbox h3 {
    margin-bottom: 25px;
    color: rgb(8 36 87);
}

div .login-container-forms .login-container-formbox::-webkit-scrollbar {
    width: 0 !important;
}

div .login-container-forms .login-container-formbox {
    -ms-overflow-style: none !important;
    overflow: -moz-scrollbars-none !important;
}

div .login-container-logo img {
    width: 245px;
    margin: auto 0 0 -18px;
}

div .login-container .drop-zone-container {
    margin: 5px 0;
    width: 90%;
    text-align: center;
}

div .login-container .drop-zone-container>div {
    outline: none !important;
    cursor: pointer;
    align-items: flex-start !important;
}

div .login-container .upload-container {
    border: 2px dashed rgba(128, 128, 128, 0.25);
    width: 100%;
}

div .login-container .upload-container i {
    margin: auto 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

div .login-container .upload-container i.bin {
    margin: 0px;
    position: absolute;
    top: 30px;
    left: 30px;
    border: 0.5px solid;
    padding: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
}

div .register__success__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div .register__success__box>div {
    margin-top: 20px;
}

div .register__success__box .header__text {
    font-size: 20px;
    font-weight: 600;
}

div .login-container .link {
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

div .login-container .link.forgot-password {
    position: absolute;
    right: 0;
    left: unset;
    margin-top: 5px;
}

[dir='rtl'] div .login-container .link.forgot-password {
    right: unset;
    left: 0;
}

@media only screen and (max-width: 812px) {
    div .login-container-forms {
        width: 100% !important;
    }
    div .login-container-forms .login-container-formbox {
        width: 100% !important;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 812px) {
    div .login-container-forms {
        width: 100% !important;
    }
    div .login-container-forms .login-container-formbox {
        width: 50% !important;
    }
}

div .bottom-text, .bottom-text label {
    font-size: 12px !important;
}

div .width-half {
    width: 50% !important;
}

@media only screen and (max-width: 812px) {
    div .login-center-section {
        width: 100% !important;
    }
    div .width-half {
        width: 100% !important;
    }
    div .login-container-details {
        display: none !important;
    }
    div .login-container .drop-zone-container {
        margin: auto;
    }
}

button.button-primary-login {
    background-color: rgb(1, 47, 107) !important;
    border: 2px solid rgb(1, 47, 107) !important;
}

button.button-secondary-login {
    border: 2px solid rgb(20, 20, 20) !important;
    background: transparent !important;
    color: rgb(0, 0, 0) !important;
}

div .upload-criterium {
    justify-content: flex-start !important;
    font-size: 12px;
    margin: 15px;
}

div .upload-criterium>div:last-child {
    font-weight: 500;
    color: black;
}

div .upload-criterium>div:last-child {
    margin-left: 25px;
}

[dir='rtl'] div .upload-criterium>div:last-child {
    margin-right: 25px;
}